{% extends './base.html'%} {% load static %} {% block tituloPagina%} Buscar
Producto {% endblock %} {% block contenidoPagina %}

<h2 class="text-center mt-3">Buscar producto:</h2>

<form method="post" class="d-flex flex-column align-items-center mt-3">
  {% csrf_token %}

  <input type="text" name="marca" placeholder="Marca:" />
  <input class="mt-2" type="submit" value="Buscar" />
</form>

<!--Resultado Busqueda -->
<section class="container-lg">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    {%for producto in productos%}
    <div class="col">
      <div class="card h-100">
        <img src="{{producto.imagen}}" class="imgproducto" />
        <div class="card-body text-center">
          <h5 class="card-title"><b>Modelo: </b>{{producto.modelo}}</h5>
          <p class="card-text">
            <b><b>Marca: </b>{{producto.marca}}</b>
          </p>
          <p><b>Precio: </b><span>${{producto.precio}}</span></p>
        </div>
        <div class="w-100 text-center mb-3">
          <a
            href="{% url 'verproducto' producto.id%}"
            class="btn btn-outline-dark text-decoration-none"
            >ver</a
          >
          {% if user.is_authenticated %} {% if user.is_staff %}
          <a
            href="{% url 'editarproducto' producto.id%}"
            class="btn btn-outline-info text-decoration-none"
            >Editar</a
          >
          <a
            href="{%url 'eliminarproducto' producto.id%}"
            class="btn btn-outline-danger text-decoration-none"
            >Eliminar</a
          >
          {% endif %}
          <!---->
          {% endif %}
        </div>
      </div>
    </div>
    {%endfor%}
  </div>
  {% if user.is_authenticated %} {% if user.is_staff %}
  <button class="mt-3 btn btn-secondary ms-7 botoncarga">
    <a href="{%url 'crear_producto'%}">Cargar Producto</a>
  </button>
  {% endif %}
  <!---->
  {% endif %}
</section>

{% endblock%}
